html {
    background-color: #e3e3e3;
}

body {
    font-family:verdana;
    max-width: 800px;
    margin: 0 auto;
    padding: 26px;
    background-color: #ffffff;
}

h2 {
    margin-top: 40px;
}